
ul#footer {
  width:100%;
  padding:8px;
  text-align: center;
}

div#title-bar {
  text-align: center;
  position:fixed;
  top:0px;
  right:0px;
  width:100%;
  padding:8px;
}

#homepage-photo {
  height: 30%;
  width: auto;
}

#vendor-jumbo {
  background-image: "~/img/andy-li-RndRFJ1v1kk-unsplash.jpg";
}